apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-provisioning
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  datasources/victoriametrics.yml: |
    apiVersion: 1

    datasources:
      - name: VictoriaMetrics
        type: prometheus
        access: proxy
        url: http://{{ .Values.dependencies.victoriametrics.service }}:{{ .Values.dependencies.victoriametrics.port }}
        isDefault: true
        editable: true
        jsonData:
          httpMethod: POST
          timeInterval: 15s

  datasources/prometheus.yml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://{{ .Values.dependencies.prometheus.service }}:{{ .Values.dependencies.prometheus.port }}
        isDefault: false
        editable: true

  dashboards/default.yml: |
    apiVersion: 1

    providers:
      - name: 'Default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /etc/grafana/provisioning/dashboards
          foldersFromFilesStructure: true

