apiVersion: v1
kind: Service
metadata:
  name: {{ include "grafana.fullname" . }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.ports.http }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.tls.enabled }}
    - port: {{ .Values.service.ports.https }}
      targetPort: https
      protocol: TCP
      name: https
    {{- end }}
  selector:
    {{- include "grafana.selectorLabels" . | nindent 4 }}

